<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find x5_gazebo)/worlds/arm.world"/>
    <!-- more default parameters can be changed here -->
  </include>

<!-- Convert an xacro and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro.py $(find x5_description)/urdf/x5/x5.urdf.xacro" />

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model x5" />

 <include file="$(find x5_control)/launch/x5_control.launch">
 </include>

<node pkg="optitrack_to_biorob_tf" type="optitrack_to_biorob_tf_node.py" name="optitrack_to_world_tf_publisher"/>

<node pkg="cython_tracker" type="cython_tracker_node.py" name="ball_sim"/>

</launch>
