<?xml version="1.0"?>
<launch>
  <!-- load katana urdf -->
  <include file="$(find katana_description)/launch/upload_katana_300_6m180.launch" />

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <!-- which joints does this katana instance control? -->
  <rosparam command="load" file="$(find katana)/config/katana_arm_controllers.yaml" />

  <!-- katana node -->
  <node pkg="katana" type="katana" name="katana" output="screen">
    <param name="use_serial" type="bool" value="true" />

    <!-- for /dev/ttyS0: -->
    <param name="serial_port" type="int" value="0" />

    <param name="config_file_path" type="string" value="$(find kni)/KNI_4.3.0/configfiles300/katana6M180.cfg" />

    <!--<param name="simulation" type="bool" value="true" /> -->
  </node>

</launch>


