#x6:
#  # Publish all joint states -----------------------------------
#  joint_state_controller:
#    type: joint_state_controller/JointStateController
#    publish_rate: 50  
#
#  # Position Controllers ---------------------------------------
#  joint1_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint1
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#  joint2_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint2
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#  joint3_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint3
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#  joint4_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint4
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#  joint5_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint5
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#  joint6_position_controller:
#    type: effort_controllers/JointPositionController
#    joint: joint6
#    pid: {p: 100.0, i: 0.01, d: 10.0}
#

x6: 
 arm_controller: 
   type: "effort_controllers/JointTrajectoryController" # "robot_mechanism_controllers/JointTrajectoryActionController" 
   joints: 
       - joint1  
       - joint2  
       - joint3  
       - joint4  
       - joint5  
       - joint6  
   gains: 
     joint1: {p: 100.0, d: 0.4, i: 0.0, i_clamp: 0.0} 
     joint2: {p: 100.0, d: 5.0, i: 0.0, i_clamp: 0.0}
     joint3: {p: 100.0, d: 1.0, i: 0.0, i_clamp: 0.0}
     joint4: {p: 100.0, d: 1.0, i: 0.0, i_clamp: 0.0}
     joint5: {p: 100.0, d: 1.0, i: 0.0, i_clamp: 0.0}
     joint6: {p: 100.0, d: 1.0, i: 0.0, i_clamp: 0.0}


