<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <property name="M_PI" value="3.1415926535897931" />
  <property name="controlbox_height" value="0.073" />
  
  <link name="katana_internal_controlbox_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${M_PI}" />
      <geometry>
        <mesh filename="package://katana_description/meshes/katana/katana_internal_controlbox.stl" />
      </geometry>

      <material name="grey">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 ${M_PI}" />
      <geometry>
        <mesh filename="package://katana_description/meshes/katana/convex/katana_internal_controlbox_convex.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="4.47057045" />
      <origin xyz="0.000024 -0.006508 0.030555" />
      <inertia ixx="0.013760086" ixy="-0.000000539" ixz="-0.000000442" 
        iyy="0.015251808" iyz="0.000361753" 
        izz="0.023409309" />
    </inertial>
  </link>

  <joint name="katana_base_joint" type="fixed">
    <parent link="katana_internal_controlbox_link"/>
    <child link="katana_base_link"/>
    <origin xyz="0 0 ${controlbox_height}"/>
  </joint>
  
  <gazebo reference="katana_internal_controlbox_link">
    <material value="Gazebo/Grey" />
  </gazebo>
</robot>
