<?xml version="1.0"?>

<robot name="x6" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Included URDF Files -->
    <include filename="$(find x6_description)/urdf/x6/x6_base.urdf.xacro" />
    <link name="base"> 
      <inertial>
    	<mass value="10" />
	<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	<inertia ixx="0.001" ixy="0.0" ixz="0.0"
	  iyy="0.001" iyz="0.0"
	  izz="0.001" />
	</inertial>
    
  </link>
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>

    <x6_arm parent="base" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </x6_arm>
    <gazebo>
  	<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    	<robotNamespace>/x6</robotNamespace>
  	</plugin>
    </gazebo>    
</robot>
